<?xml version="1.0"?>
<launch>
 
  <node pkg="muto_agent" name="muto_agent" type="muto_agent.py">
      <rosparam  command="load" file="$(find muto)/params-testcar.yaml" />
  </node>

  <node pkg="muto_composer" name="muto_composer" type="muto_composer.py">
      <rosparam  command="load" file="$(find muto_composer)/params-testcar.yaml" />
  </node>

</launch>
